target

.classpath
.settings
.project

src/main/java/pluginFilters
!src/main/java/pluginFilters/DummyBuiltInTestPluginFilter.java

conf
!conf/BuiltInAnalysisTools
!conf/BuiltInPluginFiltersConfiguration
!conf/VeriFitAnalysisDefault.properties
/bin/
