target

.classpath
.settings

src/main/java/pluginFilters
!src/main/java/pluginFilters/DummyBuiltInTestPluginFilter.java

conf
!conf/BuiltInAnalysisTools
!conf/BuiltInPluginFiltersConfiguration
!conf/VeriFitAnalysisDefault.properties